/*
$color1: #D1BCE3; Prelude
$color2: #840032; Siren
$color3: #D7D6D6; Alto
$color4: #395B50; Mineral Green
$color5: #1F2F16; Mallard
*/

body {
  background: #d7d6d6;
  color: #395B50;
  font-size: 16px;
}
a, a:visited, a:active {
  color: #840032;
}
a:hover, a:focus {
  text-decoration: none;
}
.Home {
  margin: auto;
  width: 90vw;
}
.Home-band {
  margin: 0 -5vw;
  padding: 1rem 5vw;
  background-color: #d1bce3;
  color: #1F2F16;
}